.bm-burger-button {
  display: block;
  position: fixed;
  width: 30px;
  height: 25px;
  right: 20px;
  top: 38px;
}

.bm-cross-button {
  position: fixed;
  right: 20px;
  top: 20px;
}

.bm-menu-wrap {
  top: 0px;
}

.bm-menu {
  background: #6d6b6c;
  padding: 50px 20px 0px 20px;
  text-align: left;
  font-size: 1.1rem;
}

.bm-burger-bars {
  background: white;
  text-decoration: none;
}

.bm-burger-bars-hover {
  background: #6d6b6c;
}

.bm-cross {
  background: white;
}

.bm-item {
  padding-bottom: 40px;
}

.bm-overlay {
  right: 0;
  top: 0;
}

.email {
  margin-bottom: 20px;
  color: white;
  font-weight: 900;
  font-size: 1.3rem;
  text-align: center;
}

.smallLinks {
  font-size: 0.8rem;
  text-align: start;
  margin-top: 40px;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #79d70f;
}
