/* @font-face {
  font-family: 'MuseoNormal';
  src: url('./fonts/Museo-500.otf');
}
@font-face {
  font-family: 'MuseoBold';
  src: url('./fonts/Museo-900.otf');
}
@font-face {
  font-family: 'Arial';
  src: url('./fonts/Arial.ttf');
}
* {
  font-family: 'MuseoNormal';
} */
